#how-button {
  text-decoration: none;
  color: black;
  padding-bottom: 10px;
}

#howImage {
    max-width: 500px;
}

#landing-about-description {
  color: white;
  padding-right: 15%;
}

#landing-about-container {
  height: 110vh;
  background-color: rgb(13, 80, 13);
}

#landing-about-header {
  padding-right: 15%;
  padding-top: 15%;
}

#landing-how-container {
  background-color: rgba(138, 218, 138);
  height: 110vh;
}

#landing-how-header {
  color: black;
  /* padding-left: 15%;
  padding-top: 15%; */
}

.landing-how-image-container {
  padding-right: 10%;
}

#landing-intro {
  font-size: 60px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 2px #ffffffcd;
}


#landing-navbar-container {
 width: 100%;
}

#landing-navbar-links {
  text-decoration: none;
  text-decoration: none;
  color: rgb(1, 1, 1);
  font-size: 35px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

#landing-navbar-links:hover {
  text-shadow: 3px 3px 3px rgba(215, 211, 211, 0.974);
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}

#landing-navbar-toggler {
  background-color: rgb(207, 209, 210);
}

#landing-page-container {
  background-image: url('../../images/LandingPageBackground.jpg');
  background-size: cover;
  height: 110vh;
  background-position: center center;
  background-attachment: fixed;

}

#landing-page-link-container{
  display: flex;
  justify-content: center;

}

.landing-page-links {
  text-decoration: none;
  color: rgb(1, 2, 2);
  font-size: 40px;
  font-weight: bold;
}

#landing-page-login-container {
  padding-top: 10%;
}

#landing-page-logo {
  max-height: 150px;
}

#landing-safety-container {
    background-color: rgba(8, 36, 8);
    height: 110vh;
}

#landing-safety-description {
  padding-right: 15%;
  color: white;
}

#landing-safety-header {
  padding-right: 15%;
  padding-top: 25%;
  color: white;
}

.landing-sections-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-link-container {
  padding-right: 55px;
  padding-left: 25px;
}

#navbarResponsive {
  margin-right: 85px;
}

@media (max-width: 900px) {
  .landing-images {
    display: none;
  }
  #landing-how-description {
    padding-top: 25%;
    padding-left: 50%;
  }
  #landing-how-header {
    font-size: 40px;
    padding-top: 25%;
    padding-left: 50%;
  }
  #landing-about-description {
    padding-top: 10%;
    padding-right: 0;
  }
  #landing-about-header {
    font-size: 40px;
    padding-top: 25%;
    padding-right: 0;
  }
  #landing-safety-description {
    padding-top: 10%;
    padding-right: 0;
  }
  #landing-safety-header {
    font-size: 40px;
    padding-top: 25%;
    padding-right: 0;
  }
}



