.PendingConnectionsArea {
    /* background-color: #0177B3; */
    background-color: rgba(32, 61, 32, 0.753);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(43, 43, 43);
    padding-bottom: 2%;
}

h2 {
    padding: 12px;
    padding-bottom: 1px;
    text-shadow: 2px 2px 2px #000000;
}

.carousel-item-padding-40-px {
    height: 50%;
    max-height: 300px;
    min-height: 300px;
    width: 50%;
    border-radius: 40px;
    margin: 2%;
    margin-bottom: 1%;
}

.profileCard {
    margin: 20% !important;
    border-radius: 40px;
}

.ProfileImage {
    width: 40%;
    height: 40%;
}

.pending-connection-card-body{
    max-height: 300px;
    min-height: 300px;
    border-radius: 40px;
}
